/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wgth' var(--weight-text);
  background-image: var(--bg-image);
  color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-left: 25.7%;
  margin-right: 25.7%;
}

.header {
  background-color: var(--bg-color);
  margin-block-start: 101px;
  margin-block-end: 100px;
  height: 368px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  display: flex;
  justify-content: center;
  padding-block-end: 20px;
  font-weight: var(--weight-text);
  margin-block-start: 113px;
}

.header__subtitle {
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  display: flex;
  justify-content: center;
  margin-block-end: 20px;
  font-weight: var(--weight-text);
}

.theme-menu {
  display: flex;
  justify-content: center;
  transform: translate(8px);
}

.theme-menu__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
  line-height: 14px;
}

.theme-menu__item {
  ;
}

.theme-menu__button {
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  border: none;
  font-weight: var(--weight-text);
  font-family: var(--accent-font);
  position: relative;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  margin-left: -20px;
  opacity: 0.6;
  pointer-events: none;
  animation: button 0.7s ease-in-out infinite normal;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  margin-top: -3px;
  transform: scaleX(0); 
  color: currentColor;
  width: 100%;
}

.theme-menu__button:focus-visible::after {
  opacity: 0.6;
  transform: scaleX(1);
  animation: focus 0.7s ease-in-out infinite normal;
} 

.theme-menu__button:disabled::after {
  transition: currentColor 0.5s;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card {
  background-color: var(--bg-color);
  margin-block-end: 52px;
  height: 959px;
  border: 2px solid #000;
  position: relative;
}

.card__title {
  font-family: var(--main-font);
  size: 18px;
  font-variation-settings: 'wght' var(--weight-title);
  line-height: 21.78px;
  padding: 3px 0 4px;
}

.card__label {
  position: absolute;
  color: var(--accent-color);
  font-weight: var(--weight-text);
  font-size: 14px;
  text-shadow: 1px 1px 1px var(--stroke-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  background-blend-mode: hard-light;
  top: 57px;
  right: 25px;
}

.picture {
  display: block;
  max-width: 100%;
  width: 696px;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__text {
  font-family: var(--main-font);
  color: var(--accent-color);
  font-size: 18px;
  line-height: 21px;
  padding: 27px 25px 2px 25px;
  font-variation-settings: 'wght' var(--weight-text);
}

.card__text-memories {
  font-family: var(--main-font);
  color: var(--accent-color);
  font-size: 18px;
  line-height: 21px;
  padding: 27px 25px 2px 25px;
  font-variation-settings: 'wght' var(--weight-text);
  margin-bottom: 25px;
}

@supports (-webkit-text-stroke: 6px var(--stroke-color)) {
  .card__label {
    -webkit-text-stroke: 2px var(--stroke-color);
  }
}

.card__like-button {
  padding: 7px 35px 7px 35px;
  background-color: transparent;
}

.card__icon-button {
  color: var(--accent-color);
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-variation-settings: 'wght' var(--weight-text); 
}

@keyframes button {
  from {left: 0;}
  to {left: 4px;}
}

@keyframes focus {
  from {width: 0;}
  to {width: 100%;}
}

.footer {
  display: flex;
  justify-content: center;
}

.footer__button-save {
  background-repeat: no-repeat;
  padding: 15px 20px 15px 20px;
  background-color: var(--bg-color);
  text-align: center;
}

@media (width <= 375px) {

}