/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wgth' var(--weight-text);
  background-image: var(--bg-image);
  color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-left: 25.7%;
  margin-right: 25.7%;
}

.header {
  background-color: var(--bg-color);
  margin-block-start: 101px;
  margin-block-end: 100px;
  height: 368px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  display: flex;
  justify-content: center;
  padding-block-end: 20px;
  font-weight: var(--weight-text);
  margin-block-start: 113px;
}

.header__subtitle {
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  display: flex;
  justify-content: center;
  margin-block-end: 20px;
  font-weight: var(--weight-text);
}

.theme-menu {
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
  line-height: 14px;
}

.theme-menu__button {
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  border: none;
  font-weight: var(--weight-text);
  font-family: var(--accent-font);
  position: relative;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  opacity: 0.6;
  pointer-events: none;
  animation: 0.5s ease-in-out infinite normal;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__but:focus-visible {
  opacity: 0.6;
  text-decoration: underline;
  transition: inherit 0.5s;
}

.card {
  background-color: var(--bg-color);
  margin-block-end: 52px;
  height: 959px;
  border: 2px solid #000;
  position: relative;
}

.card__title {
  font-family: var(--main-font);
  size: 18px;
  font-weight: var(--weight-title);
  line-height: 21.78px;
  padding: 3px 0 4px;
}

.card__subtitle {
  position: absolute;
  color: var(--accent-color);
  font-weight: var(--weight-text);
  font-size: 14px;
  text-shadow: 1px 2px var(--stroke-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  top: 57px;
  right: 25px;
}

.picture {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__text {
  font-family: var(--main-font);
  color: var(--accent-color);
  font-size: 18px;
  line-height: 21px;
  padding: 27px 25px 2px 25px;
}

@supports (-webkit-text-stroke: 6px var(--stroke-color)) {
  .card__subtitle {
    -webkit-text-stroke: 6px var(--stroke-color);
  }
}

.card__like-button {
  background-image: url(../images/svg/like-icon.svg);
  background-repeat: no-repeat;
}



@media (width <= 375px) {

}