/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  background-image: var(--bg-image);
  color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-left: 25.7%;
  margin-right: 25.7%;
}

.header {
  background-color: var(--bg-color);
  margin-block-start: 101px;
  margin-block-end: 100px;
  height: 368px;
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  display: flex;
  justify-content: center;
  padding-block-end: 20px;
  font-weight: var(--weight-text);
  margin-block-start: 113px;
}

.header__subtitle {
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  display: flex;
  justify-content: center;
  margin-block-end: 20px;
  font-weight: var(--weight-text);
}

.theme-menu {
  display: flex;
  justify-content: center;
  transform: translate(8px);
}

.theme-menu__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
  line-height: 14px;
}

.theme-menu__button {
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  border: none;
  font-weight: var(--weight-text);
  font-family: var(--accent-font);
  position: relative;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  margin-left: -17px;
  opacity: 0.6;
  pointer-events: none;
  animation: button 0.7s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  margin-top: -3px;
  transform: scaleX(0); 
  color: currentColor;
  width: 100%;
}

.theme-menu__button:focus-visible::after {
  opacity: 0.6;
  transform: scaleX(1);
  transition: width 0.5s;
} 

.theme-menu__button:disabled::after {
  transition: currentColor 0.5s;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card {
  background-color: var(--bg-color);
  margin-block-end: 50px;
  height: 100%;
  border: 2px solid var(--accent-color);
  position: relative;
  z-index: 0;
}

.card__title {
  font-family: var(--main-font);
  font-size: 18px;
  font-variation-settings: 'wght' var(--weight-title);
  line-height: 21.78px;
  height: 29px;
  text-align: left;
  padding-left: 9px;
  padding-top: 2px;
}

.card__label {
  position: absolute;
  padding-inline-end: clamp(0.813rem, 0.548rem + 1.127vw, 1.563rem);
  color: var(--accent-color);
  font-weight: var(--weight-text);
  font-size: 14px;
  line-height: 14px;
  -webkit-text-stroke: 2px var(--stroke-color);
  text-shadow: 1px var(--stroke-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  top: 57px;
  right: 0px;
  z-index: 1;
}

@supports ((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 6px var(--stroke-color))) {
  .card__label {
    -webkit-text-width: 1px;
    -webkit-text-color: var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.card__subtitle-like {
  border: 1px solid var(--accent-color);
  padding: 25px 24px 25px 25px;
}

.picture {
  display: block;
  max-width: 100%;
  width: 696px;
  max-height: 100%;
  height: 700px;
  object-fit: cover;
  object-position: center;
}

.card__text {
  font-family: var(--main-font);
  color: var(--accent-color);
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 27px;
  font-variation-settings: 'wght' var(--weight-text);
}

.card__text-memories {
  font-family: var(--main-font);
  color: var(--accent-color);
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--weight-text);
  margin-bottom: 25px;
}

.card__like {
  display: flex;
  justify-content: end;
}

.card__like-button {
  padding: 9px 34px 3px 34px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  position: relative;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  outline: none;
  transition: border 0.3s ease;
}

/*mix-blend-mode: difference;*/

.card__like-button::before {
  content: "";
  position: absolute;
  inset: 0;
  transition: 0.5s ease-in-out;
  translate: -100%;
  overflow: hidden;
  background-color: var(--accent-color);
}

.card__like-button:hover::before {
  translate: 0%;
}

.card__icon-button {
  color: var(--accent-color);
  margin-right: 7px;
  padding: 0;
  width: 39px;
  height: 36px;
  border: none;
  background-color: transparent;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-variation-settings: 'wght' var(--weight-text); 
  position: relative;
  z-index: 2;
  text-align: center;
}

.heart {
  transition: transform 0.3s ease;
}

.contour {
  fill: var(--color-contour);
  stroke: var(--accent-color);
}

.sparks {
  fill: var(--color-sparks);
  opacity: 0;
}

.like-icon .contour { fill: var(--accent-color); transition: fill 0.1s linear; }
.like-icon .core { fill: transparent; transition: fill 0.3s 0.03s linear; }
.like-icon .main-body { fill: transparent; transition: fill 0.3s linear; }

@keyframes button {
  from {left: 0;}
  to {left: 4px;}
}

@keyframes focus {
  from {width: 0;}
  to {width: 100%;}
}

.footer {
  display: flex;
  justify-content: center;
}

.footer__button-save {
  background-repeat: no-repeat;
  padding: 0px 15px 10px 15px;
  background-color: var(--bg-color);
  text-align: center;
  margin-bottom: 103px;
  border: 2px solid var(--accent-color);
}

.footer__button-save:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  outline: none;
}

dialog {
  border: 2px solid var(--accent-color);
  max-width: 355px;
  height: 188px;
  padding: 30px;
  background-color: var(--bg-color);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  backdrop-filter: blur(1px);
} 

.dialog__title {
  font-family: var(--accent-font);
  font-weight: var(--weight-text);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--accent-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.close {
  border: 2px solid var(--accent-color);
  background-color: transparent;
  width: 293px;
  height: 38px;
  font-size: 14px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  color: var(--accent-color);
}

@media (width <= 375px) {
  .page {
    margin-right: 0;
    margin-left: 0;
  }

  .header {
    height: 327px;
  }

  .header__title {
    margin-block-start: 92px;
  }

  .header__subtitle {
    margin-block-end: 24px;
  }

  .theme-menu__list {
    gap: 12px;
  }

  .card__title {
    min-width: 31px;
    max-height: 52px;
    height: 100%;
    padding-right: 4px;
    padding-bottom: 9px;
  }

  .picture {
    height: 374px;
  }

  .footer__button-save {
    width: 308px;
    height: 84px;
  }

  dialog {
    width: 342px;
  }

  .close {
    width: 275px;
  }
}
