:root.theme-dark {
  --bg-image:
    repeating-linear-gradient(90deg, #000000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #000000 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #007F0C 0%, #004306 100%);
  --accent-color: #00CC14;
  --weight-text: 'Inter-Variable' 465;
  --weight-title: 'Inter-Variable' 785;
  --bg-color: #000000;
  --stroke-color: #00CC14;
  --color-contour: #00CC14;
  --color-sparks: none;
  --text-like: #00CC14;
}

:root.theme-light {
  --bg-image: 
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);
  --accent-color: #000000;
  --weight-text: 'Inter-Variable' 400;
  --weight-title: 'Inter-Variable' 700;
  --bg-color: #FFFFFF;
  --stroke-color: #000000;
  --color-contour: #000000;
  --color-sparks: #FF0000;
  --text-like: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image:
      repeating-linear-gradient(90deg, #000000 0 2px, transparent 2px 4px),
      repeating-linear-gradient(180deg, #000000 0 2px, transparent 2px 4px),
      linear-gradient(180deg, #007F0C 0%, #004306 100%);
    --accent-color: #00CC14;
    --weight-text: 'Inter-Variable' 465;
    --weight-title: 'Inter-Variable' 785;
    --bg-color: #000000;
    --stroke-color: #00CC14;
    --color-contour: #00CC14;
    --color-sparks: none;
    --text-like: #00CC14;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: 
      repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
      repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);
    --accent-color: #000000;
    --weight-text: 'Inter-Variable' 400;
    --weight-title: 'Inter-Variable' 700;
    --bg-color: #FFFFFF;
    --stroke-color: #000000;
    --color-contour: #000000;
    --color-sparks: #FF0000;
    --text-like: #FFFFFF;
  }

  .theme_auto {
    --bg-image: 
      repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
      repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);
    --accent-color: #000000;
    --bg-color: #FFFFFF;
    --weight-text: 'Inter-Variable' 400;
    --weight-title: 'Inter-Variable' 700;
    --stroke-color: #000000;
    --color-contour: #000000;
    --color-sparks: #FF0000;
    --text-like: #FFFFFF;
  }
}